body {
    background-image: url("../assets/images/wallp.jpeg");
    background-size: cover;
}
/*needed to add something*/
#form {
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
}

.webDev {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footP {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

header {
    font-family:'Courier New', Courier, monospace;
    font-size: 200px;
}