body {
    background-image: url("../assets/images/wallp.jpeg");
    background-size: cover;
    min-height: 100vh;
}
/*needed to add something*/
#form {
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
}

header {
    font-family:'Courier New', Courier, monospace;
    font-size: 200px;
}


footer{
    padding: 1rem .5rem 2rem !important;
}
